.countDownBackground{
    width: 100vw;
    height: 100vh; 
    margin-right: 32px;
    margin-bottom: 12px;
    background: url('./assests/images/masjid.png') no-repeat center center;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    color: black;
}

.overlay {
    background: rgba(0,0, 0, 0.5);
}

.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.countDownTime{
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: goldenrod;
    border-radius: 50px;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 25px;
    font-family: "Inter";

}

.countDownContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: 500;
    font-family: "Inter";
    display: flex;
    gap: 15px;
    align-items: center;
}

.countDownContainer > div:first-child{
    font-size: 70px;
}

.countDownText > div:nth-child(2){
    color: gold;

}

.countDownISOGLogo{
    position: absolute;
    bottom: 0;
    left: 0;
}

.countDownAthanName{
    text-transform: capitalize;
}