.hadithContainerRoot{
    width: 704px;
    height: 381px;
    margin-left: 7px;
    margin-right: 32px;
    margin-bottom: 12px;
    background: url('./assests/images/grayBackground.webp') no-repeat;
    background-size: cover;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
.hadithContainer{   
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 60px 20px 20px 20px;
    box-sizing: border-box;
}

.bismala{
    font-family: "Jomhuria";
    text-align: center;
    color: #00003E; 
    font-size: 50px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 5px 20px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 60px;
}

.hadith{
    font-size: 35px;
    color: rgba(39, 83, 163, 1);
    font-family: "Inknut Antiqua";
    line-height: 120%;
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    overflow: hidden;
}

.announcementsContainer{
    font-size: 35px;
    color: rgba(39, 83, 163, 1);
    font-family: "Inknut Antiqua";
    line-height: 120%;
    display: flex; 
    flex-direction: column; 
    align-content: space-evenly;
    gap: 15px;
    width: 100%;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
    align-items: center;
    max-height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.announcementsContainer > div {
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
}

.QRCode{
    margin-bottom: 0;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

/* .QRCodeContainer{
    display: flex; 
    justify-content: space-between;

} */

.hadithISOGLogo{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}
